<div class="row">
    <div class="alert-success col-sm-8 contact-form-response">
        <h2>Creation failed</h2>        
        <p>Website administrators have been alerted and are working on a fix</p>
    </div>
</div>