<div class="container-full" id="footer-container">
    <div class="container">
        <footer class="row">
            <div id="footer-left" class="col-xs-12 col-md-6">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="footer-brand"><img id="footer-logo" src="~/images/white_logo_transparent.svg" alt="Lucidia IT logo" /></a>
            </div>
            <div id="footer-right" class="col-xs-12 col-md-6">
                <ul id="footer-social-media-chicklets">
                    @*<li class="social-media-chicklet">
                            <a href="https://www.facebook.com">
                                <img src="~/images/facebook.svg" alt="Facebook logo" />
                            </a>
                        </li>*@
                    <li class="social-media-chicklet">
                        <a href="https://www.twitter.com/lucidiait/">
                            <img src="~/images/twitter.svg" alt="Twitter logo" />
                        </a>
                    </li>
                    <li class="social-media-chicklet">
                        <a href="https://www.instagram.com/lucidiait/">
                            <img src="~/images/instagram.svg" alt="Instagram logo" />
                        </a>
                    </li>
                    <li class="social-media-chicklet">
                        <a href="https://www.linkedin.com/lucidiait/">
                            <img src="~/images/linkedin.svg" alt="Linked in logo" />
                        </a>
                    </li>
                </ul>
                <ul id="footer-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Employees" asp-action="About">About us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Services">Services</a></li>
                    <li><a asp-area="" asp-controller="ContactUs" asp-action="Index">Contact us</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-xs-12 col-md-6" id="copyright-container">
                    <p id="copyright">&copy; 2018 - Lucidia iT</p>
                </div>
                <div class="col-xs-12 col-md-6" id="footer-logo-container">
                    <img class="partner-logo-footer" src="~/images/WSOB.jpg" alt="Women owned small business logo" />
                    <img class="partner-logo-footer" src="~/images/NAWBO.jpg" alt="National Association of Women Business Owners logo" />
                </div>
            </div>
        </footer>
    </div>
</div>
