<div class="container-full" id="footer-container">
    <div class="container">
        <footer class="row">
            <div id="footer-left" class="col-xs-12 col-sm-6">
                <a asp-controller="Home" asp-action="Index" class="footer-brand col-xs-12 col-sm-6"><img id="footer-logo" src="~/images/white_logo_transparent.svg" alt="Lucidia IT logo" /></a>
                <h2 class="title">Our mission</h2>
                <p><i>&quot;To bring integrity and engineering excellence to our customers through innovative technologies & solutions delivered with precision.&quot;</i></p>
            </div>
            <div id="footer-right" class="col-xs-12 col-sm-6">
               
                <ul id="footer-social-media-chicklets">
                    @*<li class="social-media-chicklet">
                            <a href="https://www.facebook.com">
                                <img src="~/images/facebook.svg" alt="Facebook logo" />
                            </a>
                        </li>*@
                    <li class="social-media-chicklet">
                        <a href="https://www.twitter.com/lucidiait/">
                            <img src="~/images/twitter.svg" alt="Twitter logo" />
                        </a>
                    </li>
                    <li class="social-media-chicklet">
                        <a href="https://www.instagram.com/lucidiait/">
                            <img src="~/images/instagram.svg" alt="Instagram logo" />
                        </a>
                    </li>
                    <li class="social-media-chicklet">
                        <a href="https://www.linkedin.com/lucidiait/">
                            <img src="~/images/linkedin.svg" alt="Linked in logo" />
                        </a>
                    </li>
                </ul>
                <ul id="footer-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Employees" asp-action="About">About us</a></li>
                    <li><a asp-area="" asp-controller="Solutions" asp-action="Solutions">Solutions</a></li>
                    <li><a asp-area="" asp-controller="ContactUs" asp-action="Index">Contact us</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div id="footer-bottom" class="row">
                <div class="col-xs-12 col-md-6" id="footer-logo-container">
                    <a href="https://www.sba.gov/contracting/government-contracting-programs/women-owned-small-businesses"class="partner-logo-footer">
                        <img src="~/images/WOSB_web.jpg" alt="Women owned small business logo" />
                    </a>
                    <a href="https://www.nawbo.org"  class="partner-logo-footer">
                        <img src="~/images/Nawbo_1web.jpg" alt="National Association of Women Business Owners logo" />
                    </a>
                </div>
                <div class="col-xs-12 col-md-6" id="copyright-container">
                    <p id="copyright">&copy; 2018 - Lucidia iT</p>
                </div>
            </div>
        </footer>
    </div>
</div>
