<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img id="header-logo" src="~/images/white_logo_transparent.svg" alt="Lucidia IT logo" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Employees" asp-action="About">About us</a></li>
                <li><a asp-area="" asp-controller="Solutions" asp-action="Solutions">Solutions</a></li>
                <li><a asp-area="" asp-controller="ContactUs" asp-action="Index">Contact us</a></li>
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </div>
    </div>
</nav>



@*<nav id="navigation" class="navbar">
    <div class="container">
        <div id="header-mobile-container">
            <div id="header-logo-mobile" class="col-xs-6">
                <img src="~/images/white_logo_transparent.svg" alt="Lucidia IT logo" />
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div id="logo-circle">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img id="header-logo" src="~/images/white_logo_transparent.svg" alt="Lucidia IT logo" /></a>
        </div>
        <div class="trapazoid">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Employees" asp-action="About">About us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Services">Services</a></li>
                    <li><a asp-area="" asp-controller="ContactUs" asp-action="Index">Contact us</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
</nav>*@