#partners {
    position: relative;

    #partners-container {
        white-space: nowrap;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .partner-container {
        padding: 5px 10px;
        width: 25%;
        height: 150px;
        display: inline-block;
    }

    .partner {
        height: 150px;
        width: 100%;
        background: url('/images/global-network.jpg') no-repeat center;
        background-size: cover;
        margin: 5px;
    }

    .see-all-partners-link {
        text-align: center;
    }

    #partner-slider {
        overflow: hidden;
        position: relative;
        height: 150px;
    }

    #slider__left-arrow-container {
        position: absolute;
        left: -60px;
        top: 135px;
        height: 50px;
        width: 50px;
        border-radius: 50%;

        &:hover {
            background: grey;
            cursor: pointer;
        }

        #slider__left-arrow {
            position: absolute;
            top: 13px;
            left: 15px;
            height: 25px;
            width: 25px;
            transform: rotate(45deg);
            border-bottom: 2px solid black;
            border-left: 2px solid black;
        }
    }

    #slider__right-arrow-container {
        position: absolute;
        right: -64px;
        top: 135px;
        height: 50px;
        width: 50px;
        border-radius: 50%;

        &:hover {
            background: grey;
            cursor: pointer;
        }

        #slider__right-arrow {
            position: absolute;
            top: 13px;
            right: 18px;
            height: 25px;
            width: 25px;
            transform: rotate(-135deg);
            border-bottom: 2px solid black;
            border-left: 2px solid black;
        }
    }

    @media (max-width: $bp-xs) {
        #slider__right-arrow-container {
            right: -6px;
            z-index: 1;
        }

        #slider__left-arrow-container {
            left: 0;
            z-index: 1;
        }

        .partner-container {
            width: 85%;
            margin-left: 6%;
        }
    }
}

#partners-page {

    #partner-title {
        text-align: center;
        margin-bottom: 25px;
    }

    .partner-container {
        padding: 0 5px;
        margin-bottom: 20px;
    }

    .partner {
        height: 150px;
        position: relative;
        overflow: hidden;
        padding: 0;
        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .4);
        
        .partner-logo {
            height: 95%;
            width: 95%;
            margin: 2.5% auto;
            display: block;
        }

        &:hover {
            .partner-info {
                top: 0;
            }
        }
    }

    .partner-info {
        position: absolute;
        background: rgba(0, 0, 0, .5);
        top: 150px;
        transition-property: all;
        transition-duration: .5s;
        width: 100%;
        height: 100%;
        color: white;
        padding: 0 10px;

        h2 {
            margin-bottom: 35px;
        }
    }

    @media (max-width: 1100px) {
        #slider__left-arrow {
            left: 40px;
        }

        #slider__right-arrow {
            right: 35px;
        }
    }
}
