.cta-container {
    margin-top: 25px;
    margin-bottom: 0;
    background: rgba(4, 29, 55, .4);
    padding: 25px 0;
    margin-left: -50px;
    margin-right: -50px;

    .cta-image {
        height: 45px;
        width: 75px;
        margin: auto;
    }

    h3 {
        margin-top: 5px;
        color: white;
    }

    .btn {
        margin-top: 5px;
    }

    @media (max-width: $bp-sm-max) {
        text-align: center;
    }
}
