.cta-container {
    margin-top: 25px;
    margin-bottom: 0;
    background: rgba(4, 29, 55, .4);
    padding: 25px 0;

    .cta-image {
        height: 45px;
        width: 75px;
    }

    h3 {
        margin-top: 5px;
        color: white;
    }

    .btn {
        margin-top: 5px;
    }
}
