#about-us {
    clear: both;

    .carousel-caption {
        text-align: left;
        top: 40%;

        .caption-content {
            background: rgba(0, 0, 0, 0);
        }
    }

    #myCarousel {
        margin-bottom: 55px;
    }

    .team-title {
        text-align: center;
    }

    .about-us-paragraph {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 1.5em;
    }

    #about-us-img {
        float: right;
        height: 200px;
        margin-left: 7.5px;
    }

    @media (max-width: $bp-xs) {
        #about-us-img {
            float: none;
        }

        .about-us-paragraph {
            margin-top: 25px;
            text-align: center;
        }
    }

    h2 {
        margin-bottom: 30px;
    }

    p {
        font-size: 16px;
    }

    .our-team-paragraph {
        margin: auto;
        text-align: left;
        margin-bottom: 35px;
        line-height: 1.5em;
    }

    #people-container {
        margin-top: 45px;
    }

    .item {
        height: 450px;
    }

    @media (max-width: $bp-sm-min) {
        .item {
            height: 200px;
        }
    }
    /*img {
        float: right;
        height: 450px;
        width: 50%;
        padding: 0 10px;
    }*/
    %employee-image {
        text-align: center;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-size: cover;
    }

    .people-img-hover {
        @extend %employee-image;
        display: none;
    }

    .people-img {
        @extend %employee-image;
        display: block;
        margin: auto;
    }

    .people-img-container {
        &:hover {
            .people-img {
                display: none;
            }

            .people-img-hover {
                display: block;
            }
        }
    }

    .people-bio {
        text-align: center;
        margin-bottom: 20px;
        min-height: 405px;
    }
}
