%clear-fix {
    clear: both;
    content: " ";
    display: block;
}

.body-content {
    margin-top: 100px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $market-fresh;
}

p {
    font-family: $roboto;
}

img {
    height: 100%;
}

.title {
   text-transform: uppercase;
}

@media (max-width: $bp-xs) {
    .body-content {
        margin-top: 75px;
    }       
}