.navbar-inverse {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .8);

    .navbar-brand {
        padding: 0;
        margin: 5px;
        margin-left: 15px;
    }

    .navbar-toggle {
        margin-top: 15px;
    }

    .navbar-nav {
        float: right;

        li {

            &:hover {
                background-color: grey;
            }

            a {
                padding: 20px 15px;
                font-family: $market-fresh;
                font-size: 20px;
                color: #fff;
            }
        }
    }

    @media (max-width: $bp-xs) {
        position: absolute;
        z-index: 1;
        width: 100%;
        border-bottom: 1px solid grey;

        .navbar-nav {
            clear: both;
            float: none;
            text-align: center;

            li {
                a {
                    border-bottom: 1px solid grey;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
}
