#navigation {
    z-index: 1;
    height: 0;
    text-align: center;
    min-height: 0;
    margin-bottom: 0;

    .navbar-header {
        float: right;
    }

    .navbar-nav {
        float: none;

        li {
            float: none;

            a {
                color: white;
            }
        }
    }

    .navbar-collapse {
        margin-top: 15px;
    }

    &::after {
        @extend %clear-fix;
    }

    #header-logo {
        height: 75px;
        width: 85%;
    }

    #logo-circle {
        background: black;
        height: 310px;
        width: 335px;
        border-radius: 50%;
        margin-top: -175px;
    }

    .trapazoid {
        border-bottom: 480px solid black;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        height: 99px;
        width: 240px;
        position: absolute;
        top: 150px;
        right: 10%;
    }

    @media (max-width: $bp-xs) {
        float: none;
        clear: both;

        .navbar-nav {
            li {
                border-bottom: 1px solid;
                background: black;
            }
        }

        .navbar-header {
            clear: both;
            float: left;

            .navbar-toggle {
                .icon-bar {
                    height: 4px;
                    width: 25px;
                    border-radius: 4px;
                    background: #000;
                    border: 1px solid #000;
                }
            }

            #logo-circle {
                width: 85%;

                .navbar-brand {
                    margin-top: 0;

                    #header-logo {
                        height: 70px;
                    }
                }
            }
        }

        .trapazoid {
            border-bottom: none;
            border-left: none;
            border-right: none;
            height: auto;
            width: 100%;
            position: initial;
        }
    }

    @media (min-width: 1400px) and (max-width: 1549px) {
        .trapazoid {
            right: 15%;
        }
    }

    @media (min-width: 1550px) and (max-width: 1649px) {
        .trapazoid {
            right: 17%;
        }
    }

    @media (min-width: 1650px) and (max-width: 1699px) {
        .trapazoid {
            right: 18%;
        }
    }

    @media (min-width: 1700px) and (max-width: 1849px) {
        .trapazoid {
            right: 20%;
        }
    }

    @media (min-width: 1850px) {
        .trapazoid {
            right: 24%;
        }
    }

    .navbar-brand {
        margin-top: 175px;
        margin-left: 25px;
    }
}
