@model IEnumerable<LucidiaIT.Models.PartnerModels.Partner>

@{
    ViewData["Title"] = "Home Page";
}

@section Jumbotron {
    <div class="jumbotron">
        <div class="col-sm-12 col-md-4" id="jumbotron-content">
            <h2>Business driven. | Women owned.</h2>
            <p>
                Innovative solutions begin with asking the right questions and truly listening to what the clients say.
                Whether it’s bringing in the right technology or optimizing current assets, our solutions are custom fit for the client’s needs and requirements
            </p>
        </div>
    </div>
}

<div class="row" id="partners">
    <h1 style="text-align: center;">Partners</h1>

    <div class="slider-arrow" id="slider__left-arrow-container" data-arrow-direction="left">
        <div id="slider__left-arrow"></div>
    </div>
    <div class="slider-arrow" id="slider__right-arrow-container" data-arrow-direction="right">
        <div id="slider__right-arrow"></div>
    </div>
    <div id="partner-slider">
        <div id="partners-container">
        @foreach (var partner in Model)
        {
            <a href="@partner.URL" class="partner-container">
                <div class="partner" style="background: url('@partner.Logo') no-repeat center; background-size: cover;"></div>
            </a>
        }
        </div>
    </div>
</div>

@*<div class="row">
        <h1 style="text-align: center;">Services</h1>
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            </ul>
        </div>
    </div>*@
