@model IEnumerable<LucidiaIT.Models.PartnerModels.Partner>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@section Tracking {
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116066642-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-116066642-1');
    </script>
}

@section Jumbotron {
    <div id="home-jumbotron" class="jumbotron">
        <div class="container" id="jumbotron-content">
            <h2 class="home-jumbo-title title">Engineering Led</h2>
            <h2 class="home-jumbo-title title">Customer Focused</h2>
            <h2 class="home-jumbo-title title">Woman Owned</h2>
        </div>
    </div>
}

<div id="mission-statement" class="container">
    <div class="row">
        <h2>LUCIDIA <span class="lucidia-I">i</span>T</h2>
        <p>Lucidia IT is a woman owned small business headquartered in Indianapolis, Indiana.  We provide IT solutions which help our customers adopt and support advanced technologies in their environments.  We specifically focus on data center solutions, cloud technologies and enterprise networking architectures for our customers.  Our diverse backgrounds and expertise bring over 80 years of combined expertise.</p>

        <p>
            We believe diversity fosters economic growth, innovation and challenges judgement and status quo.  The diversity of our cultures and new ways of thinking can be innovative and benefit everyone.  In addition, as a WOSB, we are committed to doing our part in the community and with other diverse suppliers.

        </p>
    </div>
</div>

<div class="container" id="partners-page">
    <div class="row">
        <h2 id="partner-title" class="title">Partners</h2>
        @if (SignInManager.IsSignedIn(User))
        {
            <p>
                <a asp-controller="Partners" asp-action="Create">Create New</a> |
                <a asp-controller="Partners" asp-action="Index">Partners List</a>
            </p>
        }
        @await Html.PartialAsync("~/Views/Partners/_Partners.cshtml", Model)
    </div>
</div>