#page-jumbotron {

    .jumbotron {
        background: url('/images/LucidiaHome.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        min-height: 540px;
        height: calc(70vh);
        position: relative;
    }

    #jumbotron-content {
        position: absolute;
        background: rgba(0, 0, 0, .4);
        color: #D7D7D7;
        left: 19%;
        top: 25%;

        h2 {
            font-size: 40px;
        }

        p {
            font-size: 16px;
        }
    }

    @media (max-width: $bp-xs) {
        #jumbotron-content {
            right: 0;
            top: 30%;
        }
    }
}
