@mixin background-properties($image-url) {
    background: url($image-url) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#page-jumbotron {

    #home-jumbotron { @include background-properties('/images/Optimized-worldhands.jpg'); }
    #about-us-jumbotron { @include background-properties('/images/Optimized-orb.jpg'); }
    #services-jumbotron { @include background-properties('/images/Optimized-galaxy.jpg'); }
    #patners-jumbotron { @include background-properties('/images/Optimized-worldtablet.jpg'); }
    #contact-us-jumbotron { @include background-properties('/images/Optimized-orbhand.jpg'); }

    .jumbotron {
        background: url('/images/Optimized-worldhands.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        min-height: 540px;
        height: calc(70vh);
        position: relative;
    }

    #jumbotron-content {
        position: absolute;
        color: rgb(256, 256, 256);
        left: 8%;
        top: 25%;

        h2 {
            font-size: 40px;
        }

        p {
            font-size: 16px;
        }
    }

    @media (max-width: $bp-xs) {
        #jumbotron-content {
            left: 0;
            top: 30%;
        }
    }
}
