@mixin background-properties($image-url) {
    background: url($image-url) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#page-jumbotron {

    #home-jumbotron { @include background-properties('/images/Optimized-about-us.jpg'); }
    #about-us-jumbotron { @include background-properties('/images/Optimized-people.jpg'); }
    #services-jumbotron { @include background-properties('/images/Optimized-galaxy.jpg'); }
    #patners-jumbotron { @include background-properties('/images/Optimized-worldtablet.jpg'); }
    #contact-us-jumbotron { @include background-properties('/images/Optimized-worldtablet.jpg'); }

    .jumbotron {
        background: url('/images/Optimized-worldhands.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        min-height: 540px;
        height: calc(70vh);
        position: relative;
    }

    #jumbotron-content {        
        color: rgb(256, 256, 256);
        border-radius: 4px;
        margin-top: 10%;

        @media (max-width: $bp-xs) {
            margin-top: 45%;
        }

        h2 {
            font-size: 40px;
            margin-top: 0;
            color: rgb(13, 66, 159);
            font-weight: 600;
            font-size: 55px;

            @media (max-width: $bp-xs) {
                font-size: 35px;
            }            
        }

        #services-title {
            color: white;
        }

        p {
            font-size: 16px;
        }
    }    
}
