#mission-statement {
    margin-top: -25px;
    margin-bottom: 35px;

    h2 {
        margin-bottom: 15px;
        text-align: center;
        display: block;
        line-height: 1.2;

        .lucidia-I {
            font-size: 35px;
        }
    }

    p {
        font-size: 18px;
    }
}
