@model LucidiaIT.Models.HomeViewModels.ContactUsViewModel;

@{
    Layout = null;
}

<div class="row">
    <div class="alert-danger col-sm-12 col-md-8 contact-form-response">
        <h2>Opps!!</h2>
        <h4>That's embarrassing. Something went wrong...</h4>
        <p>@Model.Name, sorry about that. We have alerted the site admins and are looking in to it. Your message has been saved and we will get back to you as soon as possible.</p>
    </div>
</div>