@model LucidiaIT.Models.HomeViewModels.ContactUsViewModel;

@{ 
    Layout = null;
}

<div class="row">
    <div class="alert-success col-sm-8 contact-form-response">
        <h2>Message sent!</h2>
        <p>Thanks for reaching out! We will be in touch soon.</p>
    </div>
</div>