/* BREAKPOINTS */
/* END BREAKPOINTS */
/* FONTS */
/* END FONTS */
#navigation::after {
  clear: both;
  content: " ";
  display: block; }

.body-content {
  margin-top: 150px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif; }

p {
  font-family: "Roboto", sans-serif; }

img {
  height: 100%;
  width: 100%; }

@media (max-width: 768px) {
  .body-content {
    margin-top: 75px; } }

#contact-container #contact-form_btn {
  margin-top: 10px;
  margin-right: 30px; }

#contact-container input,
#contact-container label {
  margin-top: 10px; }

#contact-container label {
  padding: 0; }

#contact-container textarea {
  height: 150px;
  margin-top: 10px;
  overflow: hidden; }

#contact-container #contact-form {
  padding: 0; }

#contact-container .contact-form--content {
  margin-bottom: 65px;
  padding: 0; }
  #contact-container .contact-form--content ul {
    display: none !important; }

#contact-container .load-spinner {
  height: 100px;
  display: none; }

#contact-container #contact-btn-group {
  padding-right: 0; }

#contact-container .contact-form-response {
  border-radius: 4px; }

#contact-container .form-group {
  padding: 0;
  margin-bottom: 0; }

#contact-container .alert-danger.field-validation-error {
  display: inline-block;
  height: 25px;
  padding: 2.5px 10px;
  margin-top: 5px;
  border-radius: 4px;
  font-size: 15px;
  border: #a94442 1px solid; }

#contact-container #send-email-btn {
  margin-top: 25px;
  float: right; }

#contact-container #social-media-chicklets {
  float: left;
  list-style-type: none;
  padding: 0; }
  #contact-container #social-media-chicklets .social-media-chicklet {
    height: 45px;
    width: 45px;
    float: left;
    margin: 25px 20px 25px 0; }

#about-us {
  text-align: center;
  clear: both; }
  #about-us #about-us-paragraph {
    margin-bottom: 55px; }
  #about-us h2 {
    margin-bottom: 45px; }
  #about-us p {
    text-align: left;
    font-size: 16px; }
  #about-us #people-container {
    margin-top: 65px; }
  #about-us img {
    float: right;
    height: 450px;
    width: 50%;
    padding: 0 10px; }
  #about-us .people-img-hover, #about-us .people-img {
    text-align: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: cover; }
  #about-us .people-img-hover {
    display: none; }
  #about-us .people-img {
    display: block; }
  #about-us .people-img-container:hover .people-img {
    display: none; }
  #about-us .people-img-container:hover .people-img-hover {
    display: block; }
  #about-us .people-bio {
    margin-bottom: 45px; }

#footer-container {
  background: black;
  color: white;
  margin-top: 45px; }
  #footer-container #footer-nav {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin: 15px 0;
    float: right; }
    #footer-container #footer-nav li {
      margin: 5px;
      margin-left: 0;
      float: left;
      padding-right: 5px;
      border-right: 1px solid white; }
      #footer-container #footer-nav li:last-child {
        border: none; }
      #footer-container #footer-nav li a {
        color: white; }
        #footer-container #footer-nav li a:hover {
          color: #337ab7;
          text-decoration: none; }
  #footer-container #footer-left {
    float: left;
    margin-top: 25px; }
  #footer-container #copyright {
    clear: both;
    margin-top: 60px; }
  #footer-container #footer-right {
    float: right;
    width: 35%; }
  #footer-container #footer-social-media-chicklets {
    list-style-type: none;
    float: right;
    display: block; }
    #footer-container #footer-social-media-chicklets .social-media-chicklet {
      float: left;
      height: 45px;
      width: 45px;
      margin: 35px 10px 10px; }
  #footer-container .partner-logo-footer {
    height: 75px;
    width: 30%;
    margin: 5px;
    float: right; }
  #footer-container #copyright-container,
  #footer-container #footer-logo-container {
    display: inline-block;
    vertical-align: bottom; }

#partners {
  position: relative; }
  #partners #partners-container {
    white-space: nowrap;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }
  #partners .partner-container {
    padding: 5px 10px;
    width: 25%;
    height: 150px;
    display: inline-block; }
  #partners .partner {
    height: 150px;
    width: 100%;
    background: url("/images/global-network.jpg") no-repeat center;
    background-size: cover;
    margin: 5px; }
  #partners .see-all-partners-link {
    text-align: center; }
  #partners #partner-slider {
    overflow: hidden;
    position: relative;
    height: 150px; }
  #partners #slider__left-arrow-container {
    position: absolute;
    left: -60px;
    top: 135px;
    height: 50px;
    width: 50px;
    border-radius: 50%; }
    #partners #slider__left-arrow-container:hover {
      background: grey;
      cursor: pointer; }
    #partners #slider__left-arrow-container #slider__left-arrow {
      position: absolute;
      top: 13px;
      left: 15px;
      height: 25px;
      width: 25px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      border-bottom: 2px solid black;
      border-left: 2px solid black; }
  #partners #slider__right-arrow-container {
    position: absolute;
    right: -64px;
    top: 135px;
    height: 50px;
    width: 50px;
    border-radius: 50%; }
    #partners #slider__right-arrow-container:hover {
      background: grey;
      cursor: pointer; }
    #partners #slider__right-arrow-container #slider__right-arrow {
      position: absolute;
      top: 13px;
      right: 18px;
      height: 25px;
      width: 25px;
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg);
      border-bottom: 2px solid black;
      border-left: 2px solid black; }
  @media (max-width: 768px) {
    #partners #slider__right-arrow-container {
      right: -6px;
      z-index: 1; }
    #partners #slider__left-arrow-container {
      left: 0;
      z-index: 1; }
    #partners .partner-container {
      width: 85%;
      margin-left: 6%; } }

#partners-page .partner-container {
  padding: 0 5px;
  margin-bottom: 20px; }

#partners-page .partner {
  height: 150px;
  position: relative;
  overflow: hidden;
  padding: 0;
  -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4); }
  #partners-page .partner .partner-logo {
    height: 100%;
    width: 100%;
    display: block; }
  #partners-page .partner:hover .partner-info {
    top: 0; }

#partners-page .partner-info {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 150px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  width: 100%;
  height: 100%;
  color: white;
  padding: 0 10px; }
  #partners-page .partner-info h2 {
    margin-bottom: 35px; }

@media (max-width: 1100px) {
  #partners-page #slider__left-arrow {
    left: 40px; }
  #partners-page #slider__right-arrow {
    right: 35px; } }

#page-jumbotron .jumbotron {
  background: url("/images/worldhands.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 540px;
  height: calc(70vh);
  position: relative; }

#page-jumbotron #jumbotron-content {
  position: absolute;
  color: white;
  left: 8%;
  top: 25%; }
  #page-jumbotron #jumbotron-content h2 {
    font-size: 40px; }
  #page-jumbotron #jumbotron-content p {
    font-size: 16px; }

@media (max-width: 768px) {
  #page-jumbotron #jumbotron-content {
    right: 0;
    top: 30%; } }

#navigation {
  z-index: 1;
  height: 0;
  text-align: center;
  min-height: 0;
  margin-bottom: 0; }
  #navigation .navbar-header {
    float: right; }
  #navigation .navbar-nav {
    float: none; }
    #navigation .navbar-nav li {
      float: none; }
      #navigation .navbar-nav li a {
        color: white; }
  #navigation .navbar-collapse {
    margin-top: 15px; }
  #navigation #header-logo {
    height: 75px;
    width: 85%; }
  #navigation #logo-circle {
    background: black;
    height: 310px;
    width: 335px;
    border-radius: 50%;
    margin-top: -175px; }
  #navigation .trapazoid {
    border-bottom: 480px solid black;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 99px;
    width: 240px;
    position: absolute;
    top: 150px;
    right: 10%; }
  @media (max-width: 768px) {
    #navigation {
      float: none;
      clear: both; }
      #navigation .navbar-nav li {
        border-bottom: 1px solid;
        background: black; }
      #navigation .navbar-header {
        clear: both;
        float: left; }
        #navigation .navbar-header .navbar-toggle .icon-bar {
          height: 4px;
          width: 25px;
          border-radius: 4px;
          background: #000;
          border: 1px solid #000; }
        #navigation .navbar-header #logo-circle {
          width: 85%; }
          #navigation .navbar-header #logo-circle .navbar-brand {
            margin-top: 0; }
            #navigation .navbar-header #logo-circle .navbar-brand #header-logo {
              height: 70px; }
      #navigation .trapazoid {
        border-bottom: none;
        border-left: none;
        border-right: none;
        height: auto;
        width: 100%;
        position: initial; } }
  @media (min-width: 1400px) and (max-width: 1549px) {
    #navigation .trapazoid {
      right: 15%; } }
  @media (min-width: 1550px) and (max-width: 1649px) {
    #navigation .trapazoid {
      right: 17%; } }
  @media (min-width: 1650px) and (max-width: 1699px) {
    #navigation .trapazoid {
      right: 18%; } }
  @media (min-width: 1700px) and (max-width: 1849px) {
    #navigation .trapazoid {
      right: 20%; } }
  @media (min-width: 1850px) {
    #navigation .trapazoid {
      right: 24%; } }
  #navigation .navbar-brand {
    margin-top: 175px;
    margin-left: 25px; }

#register-container {
  float: right; }
