.solutions-container {
    #account-links {
        margin-bottom: 15px;
    }

    .solution-container {        

        img {
            width: 100%;
        }

        .solution {
            height: 340px;
            overflow: hidden;
            position: relative;
            padding: 0;
            margin-bottom: 25px;

            @media (max-width: $bp-xs) {
                position: static;
                height: 100%;
            }
        
            &:hover {
                .solution-content {
                    top: 0;

                    h2 {
                        @media (max-width: $bp-xs) {
                            text-align: center;
                        }
                    }
                }
            }
        }

        .solution-content {
            height: 100%;
            width: 100%;
            position: absolute;
            background: rgba(0, 0, 0, .8);
            top: 340px;
            transition-property: all;
            transition-duration: .5s;
            color: white;

            @media (max-width: $bp-xs) {
                position: static;
                background-color: #fff;
                color: #000;
            }
        }

    }   
    
}

#editor {
    height: 250px;
}